# 2. Serviço Web PHP (que usa o Dockerfile)
  - type: web
    name: meuprojetophp-web
    plan: free
    # Substituído pelo link direto para evitar erro de parsing do template
    repo: https://github.com/DaviEuder/meuprojetophp
    branch: main
    runtime: docker
    
    # Comando de inicialização
    startCommand: 'php -S 0.0.0.0:10000 -t /app'
    
    # A porta que seu servidor PHP escuta
    port: 10000
    
    # Variáveis de Ambiente
    envVars:
      # Vínculo Secreto: Injeta a URL de conexão do DB no Web Service
      - key: DATABASE_URL
        fromDatabase:
          name: meuprojetophp-db
          property: connectionString
      
      - key: APP_ENV
        value: production