services:
  - type: web
    name: meuprojetophp
    env: php
    plan: free
    autoDeploy: true
    envVars:
      - key: DATABASE_URL
        fromDatabase:
          name: meuprojetodb
          property: connectionString
    buildCommand: ""
    startCommand: "php -S 0.0.0.0:10000 -t public"
