services:
  - type: web
    name: meuprojetophp
    env: docker
    plan: free
    autoDeploy: true

    envVars:
      - key: DATABASE_URL
        fromDatabase:
          name: meuprojetodb
          property: connectionString

    ports:
      - port: 10000
        protocol: http
