version: services

services:
  - type: pserv
    name: meuprojetophp-db
    plan: free
    spec:
      databaseName: placar_db
      user: placar_user

  - type: web
    name: meuprojetophp-web
    plan: free
    repo: https://github.com/DaviEuder/meuprojetophp
    branch: main
    runtime: docker
    
    spec:
      startCommand: 'php -S 0.0.0.0:10000 -t /app'
      port: 10000
      
      envVars:
        - key: DATABASE_URL
          fromDatabase:
            name: meuprojetophp-db
            property: connectionString
        - key: APP_ENV
          value: production
