services:
  - type: web
    name: meuprojetophp
    env: docker
    plan: free
    buildCommand: ""
    startCommand: "php -S 0.0.0.0:10000 -t ."
    autoDeploy: true
    envVars:
      - key: DATABASE_URL
        fromDatabase:
          name: meuprojetodb
          property: connectionString

databases:
  - name: meuprojetodb
    plan: free
